<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fomema Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylenew.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/assets/jquery.slim.min.js"></script>
    <script src="/assets/popper.min.js"></script>
    <script src="/assets/bootstap.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/daterangepicker.css" />
    <script type="text/javascript" src="/assets/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/moment.min.js"></script>
    <script type="text/javascript" src="/assets/daterangepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-expand-md bg-light navbar-dark">
        <div class="admin-logo">
          <img src="../logo.png">
        </div>
        <!-- Topbar Search -->
        <div class="nav-title">
          <span>Dashboard </span>
          <h1>Geographical Dashboard</h1>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <div class="filter-content mx-0 px-0" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="filter-li">
                <span>
                  <b>
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                  </b> &nbsp;Refresh </span>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
                  <ul class="li-profile">
                    <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a class="dropdown-item"> 5 Min </a>
                    </li>
                    <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                      <a class="dropdown-item">10 Min</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown mx-2">
            <a class="nav-link admin-name dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Dashboard</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
              <ul class="li-profile">
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="dashboard-1.html">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 1 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="dashboard-2.html">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 2 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="dashboard-3.html">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 3 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="dashboard-4.html">
                    <i class="fa fa-dashboard mx-2"></i>Dashbaord 4 </a>
                </li>
                <li style="border-bottom: dotted 1px #c2c2c2; font-size: 12px;">
                  <a class="dropdown-item" href="dashboard-5.html">
                    <i class="fa fa-dashboard mx-2"></i>Dashboard 5 </a>
                </li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link admin-name dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span>Admin </span>
              <img class="img-profile rounded-circle" src="/assets//undraw_profile.svg">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in m-0 p-0" aria-labelledby="userDropdown">
              <ul class="li-profile">
                <li class="dropdown-item">
                  <a href="#">
                    <i class="fa fa-sign-out fa-sm"></i> Logout </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="filter-div">
      <ul class="filter mobile-filter mb-0">
        <li class="mx-0">
          <div class="month-filter">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                </div>
                <select id="state-select" class="form-control" aria-label="Filter select" onchange="towns_collect()">
                  <option>Select State</option>
                  <option>All</option><% @states.each do |state| %> <option value="<%= state.first %>"><%= state.second %> </option><% end %>
                </select>
              </div>
            </div>
          </div>
        </li>
        <li class="mx-0">
          <div class="month-filter">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker"></i>
                  </span>
                </div>
                <div id="towns-list"><%= render 'town_drop_down'%> </div>
              </div>
            </div>
          </div>
        </li>
        <li class="mx-0">
          <div class="month-filter">
            <div class="form-group">
              <div class="input-group input-daterange">
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="daterange" value="01/01/2018 - 01/15/2018">
              </div>
            </div>
          </div>
          <script>
            $(function() {
              $('.datepicker').datepicker({
                language: "es",
                autoclose: true,
                format: "dd/mm/yyyy"
              });
            });
          </script>
          <script>
            $(document).ready(function() {
              $(function() {
                $('input[name="daterange"]').daterangepicker({
                  "startDate": "18/08/2023",
                  "endDate": "28/08/2023",
                  opens: 'center',
                  locale: {
                    format: 'DD/MM/YYYY'
                  }
                });
              });
            });
            $(document).ready(function() {
              $(".dropdown-toggle").click(function() {
                $(".caret").toggleClass('rotate-180');
              });
            });
          </script>
        </li>
        <li class="mx-0">
          <div class="month-filter ">
            <div class="filter-btn" style="margin-top: 8px;">
              <button onclick="filter_geo()" class="btn-apply"> Apply</button>
              <button class="btn-clear">Clear</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="dashboard-body">
      <div class="chard-box">
        <section class="interactive-map">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="map" id="divtotal_malaysialist">
                  <div class="map-title"><%= image_tag asset_path('Malaysia.png') %> Malaysia </div>
                  <div class="svg-malasyamap">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-24.848 497.5 585.126 267" enable-background="new -24.848 497.5 585.126 267" xml:space="preserve">
                      <path id="area-eleven-zoom" fill="#7BEA05" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M533.25,612.457
               l-1.361-2.116l1.134-0.101l2.646,0.453l0.264,1.058l-2.154,0.202L533.25,612.457z M526.485,604.296l0.604,0.453l1.398-0.555
               l1.814,0.806l-0.869,0.555l-0.113,0.957l-0.869-0.756l-0.454,0.756l-3.099-1.461l-3.703-1.008l2.834-0.251l1.813-0.655
               L526.485,604.296z M515.717,562.326l-1.097-0.303l0.983-0.957l1.436,0.101l-0.074,0.705L515.717,562.326z M488.698,532.801
               l-2.191-0.151l-1.247-0.555l0.68-1.059l1.813-0.051l0.983-0.504l-0.189-0.906l-1.247-0.051l0.265-0.958l2.04-0.555l1.511,2.268
               l-0.151,1.108L488.698,532.801z M473.658,508.012l-0.453,1.41l-0.68-0.604l-0.718,0.907l0.415,0.655l-3.438,0.856l0.68,0.756
               l-1.021,0.605l-0.907-0.253l1.738-3.174l2.192-0.806l1.474-1.714L473.658,508.012z M482.236,512.244l-3.931,1.059l-1.927,1.058
               l-0.982,1.512l-0.529-3.678l0.265-2.418l3.363-2.569l3.137-0.555l0.869,0.302l0.453,1.411L482.236,512.244z M505.438,622.686
               l-6.085-0.051l-1.209-0.201l-2.153-1.915l0.755-1.31l1.323-0.555l2.984,0.757l1.475,1.713l2.531,0.655L505.438,622.686z
                M416.184,593.412l2.078-2.317l1.891-0.655l0.906-0.856l0.529-3.326l1.209-1.914l-1.587,0.151l-2.569-0.504l-3.175-2.871
               l-0.416-0.958l-1.058,0.303l0.566-2.268l1.059-1.512l1.852-1.159l0.832-1.26l2.531-1.813l1.285-2.771l0.68-0.655l0.529,0.756
               l-1.247,2.368l0.718,1.059l0.529-1.764l1.965,1.41l3.174,0.252l1.966-0.402l1.133-0.958l1.624-3.022l0.945-3.729l0.907-1.008
               l3.212-1.864l0.567-0.605l0.567-3.224l2.191-3.577l0.529-1.563l-0.568-1.058l-0.792,0.302l0.075-1.159l1.7-0.756l1.7-2.569
               l1.853-1.008l1.397,0.504l0.039-1.562l-2.04,0.101l1.7-1.26l1.322-0.253l0.983-2.418l5.592-4.131l0.605-2.722l1.133-0.655
               l3.325-4.686l0.075-2.519l0.757-1.26l0.037-2.015l1.323-1.008l0.454-2.569l2.115-1.863l0.454,0.956l1.474,0.957l0.718,3.023
               l-1.059-0.453l-0.416,1.461l1.511,0.906l0.227,0.756l-0.528,2.368l-1.21,1.714l-1.133,2.821l0.189,1.26l1.437,0.352l5.365-4.534
               l0.34-1.714l2.646-3.325l-1.021-2.317l0.34-1.209l1.059,0.201l0.377-1.964l1.475,0.251l0.869-0.655l1.814,0.756l2.191,1.612
               l-0.189,2.368l-0.793,1.26l0.264,1.36l1.285,1.663l0.302,2.923l1.021,1.662l2.003,0.102l2.759,2.619l1.587-0.353l1.7-2.116
               l0.151,1.562l0.718,1.361l2.078,1.007l0.908-0.302l1.927,2.519h1.133l0.604,2.218l-0.528,1.007l0.377,0.958l-0.567,2.973
               l-1.737-0.151l-1.323,0.655l-1.322,1.562l2.305,4.232l-1.02,1.059l0.113,1.007l1.247,1.26l-1.965,1.865l-4.534,1.561l-0.869,0.958
               l3.59-1.26l4.949-0.303l2.419,0.101l-0.113-1.31l4.042-0.352l2.041-1.865l1.171-1.562l1.55-0.453l1.927,2.619l0.226,2.066
               l1.738,2.418l-1.059,1.461l-1.322,0.555l-4.347-0.201l-1.058,1.108l0.491,0.453l1.096,2.821l0.454,0.303l2.606-1.059l2.456,0.101
               l0.983,0.806l1.209-2.721l-0.227-1.059l3.628-1.26l2.795,1.26l0.907-0.756l1.625,0.655l3.665,2.167l2.909,1.914l-0.566,1.31
               l-0.68,3.627l0.491,0.756l1.021-2.015l0.075-1.36l0.907-0.655l1.512,0.504l2.38,2.721l2.268,0.907l0.718,1.612l0.453-1.008
               l1.7,1.311l1.399,0.554l1.058,2.368l1.021-0.252l-0.19-1.159l1.323-0.302l1.7,0.906l1.096,0.051l2.796-1.41l1.475,0.151l2.493,2.973
               l-0.34,3.225l0.113,2.569l-2.569,2.671l-1.437,0.806l-6.537,2.419l-6.688,1.965l-1.285,0.807l-2.493,0.756l-3.477-1.008
               l-0.869,0.201l-1.853,1.26l-0.793-0.302l-2.116-2.872l-2.532-0.706l-2.38,2.218l-1.398-0.303l-1.247,0.756l-2.909,3.022
               l-0.038,0.857l1.285,0.806l1.738,2.923l2.116,2.218l2.003,1.561l1.397,0.202l0.907,1.26l1.096,0.604l0.605-0.757l1.133,0.504
               l0.453,0.957l-0.718,1.36l1.284,1.26l1.701-1.108l1.701,0.504l-0.189,0.504l1.852,2.218l-0.68,0.906l-1.247-0.353l0.038,1.158
               l-1.814,1.361h-2.002l-3.401,0.453l-1.398-0.503l-0.756,0.806l-3.249,0.957l-3.741,0.504l-4.761,2.469l-4.044-0.906l-2.645-1.965
               l-0.378-0.857l-2.834-0.756l-0.794-0.504l-1.322-2.065l-2.343,1.612l1.021,1.108v1.512l0.643,0.906l-0.416,1.209l-1.474,1.613
               l1.021,1.108l-2.153,0.604l-0.908-0.504l-1.587,0.051l-2.229-0.453l-2.871-2.721l-2.91-1.512l-2.078-1.864l-1.89,0.705l-6.612,0.101
               l-2.04-0.503l-4.271,0.503l-3.363-1.31l-1.133,1.008l-2.306-0.151l-1.398,0.402l-1.549-2.317l-1.7,1.713l0.264,0.856l-1.7,0.302
               l-0.869,0.907l-1.134-0.151l-1.398-2.268l-1.474-0.906l-2.948,0.956l-3.702-0.806l-0.567,1.21l-3.212,2.67l-0.982-0.655l-0.34-1.159
               l-1.549-0.806l-2.23-0.303l-1.246-1.36l-0.794,1.663l-0.151,2.268l-2.191,2.116l-0.869-0.604l-3.363,3.376l-0.454-1.361l0.227-1.764
               l1.059-1.46l0.491-1.41l-1.437-2.066l-1.397-0.453l-0.567-2.771l-0.718-1.411l-0.038-3.325l1.21-2.015l0.718-3.326l0.717-0.705
               l0.945-2.569l-0.794-4.182l-0.491-0.655l-3.892,0.201L416.184,593.412z" />
                      <path id="area-twelve-zoom" fill="#8CD5F7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M271.381,686.421
               l-1.55,1.008l-0.982-1.965l-1.247-1.41l0.378-3.023l-0.642-6.096l0.075-1.814l0.53-1.159l1.246,0.454l1.096,2.67v6.399l0.303,2.721
               L271.381,686.421z M416.184,593.412l3.325,0.353l3.893-0.201l0.491,0.655l0.793,4.182l-0.945,2.569l-0.717,0.705l-0.718,3.326
               l-1.21,2.015l0.039,3.326l0.718,1.41l0.566,2.771l1.398,0.452l1.437,2.066l-0.491,1.41l-1.059,1.461l-0.227,1.764l0.454,1.36
               l-1.059,5.392l-1.059,1.864l-1.51,0.956v0.757l1.813,1.461v1.26l-1.398,4.182l-0.076,3.729l0.907,2.167l-0.037,1.511l0.982,2.318
               l-0.53,0.855l-1.02-0.302l-1.437,2.469l-1.247,5.441l1.209,1.814l-1.246,1.662l-0.643,2.871l-2.078,0.454l-3.478,1.209l-2.455-2.015
               l-1.625,2.67l-2.078,1.411l-1.436,2.519l-1.172,1.108l1.36,2.418l-1.511,1.41l0.339,1.863l-0.566,2.269l0.945,0.554l1.171-0.503
               l1.662,0.604l1.096,1.461l0.491,1.512l-0.453,0.705l-2.419,0.403l-2.115,2.016l-3.401,2.368l-1.398-0.101l-0.68,1.058l0.151,1.26
               l-1.209,0.808l-2.759,0.352l-1.096,0.605l-0.982,3.426l1.021,4.232l1.852-0.303l0.491,0.756l-0.566,2.368l0.075,2.065l-2.493,1.209
               l-1.927,0.252l-1.36,1.462l0.301,2.116l-0.415,2.519l-1.587,3.477l-2.229,2.268l0.189,2.368l-0.831,1.31l-1.626-0.05l-3.664-2.47
               l-1.55,0.051l-5.441,2.317l-1.586,0.453l-1.059-1.058l-2.795-0.354l-5.215,0.756l-1.475,0.957l-2.191,2.771l-5.706,3.879
               l-1.928-0.303l-1.813-2.166l-1.549-0.504l-2.154,0.807l-1.663-0.051l-2.646-2.116l-1.738-0.604l-4.232-0.756l-2.494-1.563
               l-1.397-0.1l-3.326,0.705l0.114-0.705l2.04-2.117l0.19-1.612l-1.814-1.159l-2.343-0.051l-1.927-0.453l-1.927,1.41l-1.171-0.302
               l-10.77-0.555l-2.608,1.563l-3.741,0.705l-4.155,2.016l-0.756,1.764l0.869,1.108l-1.134,2.268l-1.89,5.542l-1.662,0.755h-2.947
               l-2.269,0.706l-3.174,3.829l-2.154,0.605l-3.892-1.41h-1.172l-3.061,1.209l-1.285,1.41l-0.756-1.965l-1.021-0.353l-2.116,0.554
               l-1.587-0.252l-4.837-2.217l-0.755-0.051l-8.125,2.116l-2.268,0.051l-2.078,0.655l-2.041,1.713l-0.453,1.562l-2.909,0.202
               l-2.041,1.007l-1.247-0.705l-2.153,1.563l-1.738-0.253l-3.023-1.915l-1.511-2.115l-1.059-0.706l-3.211-0.252l-0.227-1.662
               l-3.137-4.938l-2.758-0.655l-1.511-0.855l-0.793-1.411l-1.965-1.26l-0.868-1.158l-0.681-2.168l-1.133-0.906h-2.154l-1.511-2.317
               l-0.907,0.301l-0.34-1.41l-3.211-2.771l-1.285-2.368l0.226-4.585l-0.189-0.706l-2.268-0.252l-1.209-0.957l-0.642-2.771l0.34-1.007
               l1.322-1.108l1.927-2.973l0.68-1.914l0.642,3.627l-0.34,1.662l1.398,2.368l1.398,1.26l2.229,0.957l3.401,1.915l1.474,2.519
               l2.306,0.051l1.776-0.453l4.61,0.101l1.587,0.706l1.549-0.857l1.322,1.159l0.605-1.511l-0.19-2.016l1.511-0.956l0.832,2.972
               l2.002,0.706l0.793-0.807l2.342-0.807l0.454,0.655l-1.134,2.671l-0.87,1.058l2.003-0.252l0.567,1.108l2.379-0.151l4.497,2.016
               l0.227,1.763l-2.003,1.563l1.701,0.101l1.777-1.663l-0.265-1.914l0.983-0.756l1.662,0.201l3.099,1.31l1.548,1.009l2.759,2.77
               l4.006,2.218l2.834-1.008l3.893,2.268l1.549-0.756l-2.078-0.503l-0.492-1.26l-1.852-0.655l-2.267,0.655l-1.476-0.151l-1.738-1.462
               l-2.229-1.108l-1.475-2.871v-1.411l1.133-3.073l2.078-0.353l1.512,0.202l1.511,2.015l1.474-0.906l-1.7-0.303l-0.642-1.31
               l-0.907-0.201l-1.209-2.671l1.171-0.855l-0.679-0.655l0.453-1.361l1.927-3.627l1.322-4.384l2.041,0.202l-0.907-0.756l0.415-1.36
               l2.684,0.554l1.7-1.562l-0.227-0.554l-1.095,1.41l-2.456-0.856l-3.1,0.302l-0.227-1.209l0.794-1.209l1.437-0.151l-1.965-1.411
               l0.87-4.887l1.36-1.713l2.002,1.31l2.305,2.167l2.986-1.16l1.624,1.009l-2.493-2.973l-0.681-2.064l2.986,0.352l1.246-0.604
               l-2.154-0.655l-1.397-1.159l-0.19-1.461l0.832-3.627l0.643-0.957l2.606-1.965l5.063-2.973l6.916-1.31l5.518-0.201l20.291-5.29
               l5.518-1.16l8.918-2.771l1.209-0.655l1.927-2.064l0.755-1.411l-0.453-0.807l3.515-3.022l1.209-1.915l2.796-2.469l1.134-2.722
               l2.985-3.225l0.869-1.461l0.718-2.368l2.154-1.36l8.766-7.608l7.596-9.875l0.755-1.713l-0.264-1.461l0.793-1.209l0.378-3.226
               l-0.793-3.425l1.059-0.807l2.342,1.108l1.965,0.303l4.534,2.973l0.831,1.562l0.983,4.383l-0.491,1.915l2.796,0.402l2.115-0.201
               l2.079,4.132l3.287,2.973l0.604,1.562l1.475,0.202l1.7-1.008l3.325-3.174l0.756-2.771l1.058-1.864l-1.246-0.906l1.964-2.671
               l0.416-2.418l-1.512-0.302l-0.831-2.368l-0.188-4.232l-1.247-3.577l0.378-0.907l4.533-2.67l2.532-0.252l0.378-1.713l2.04-1.813
               l0.491,3.476l-0.264,2.872l0.454,4.384l1.586,4.232l0.416,3.577l0.756,0.856l2.796,0.957l1.096-0.101l3.703,1.612l1.322-0.503
               l-0.604-1.563l-2.117-2.317l-0.453-1.41l-0.189-2.973l0.227-2.922l-2.343-6.852l-2.153-2.218l-0.038-0.806l1.549-0.303l0.34-1.209
               l0.907-0.252l0.717,0.806l1.777,0.353l0.377,0.705l1.965,0.151L416.184,593.412z" />
                      <path fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M410.364,581.472l-0.605,0.655l-1.059-0.454
               l-1.927,1.209l1.095-3.375l1.891-1.562L410.364,581.472z" />
                      <path id="area-thirteen-zoom" fill="#7BEA05" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M24.352,571.281
               l1.4,1.471l-0.764,1.472l-0.381,2.433l-1.232,2.717l-4.626-0.679l0.722-0.963l-0.085-4.244l-0.594-1.188l0.552-1.527l1.103,0.735
               l0.721-0.793l1.655-0.17L24.352,571.281z M28.214,585.541l1.188-2.999l-0.509-2.491l0.509-2.319l-1.909-3.226l-0.255-1.585
               l0.297-3.622l-1.273-2.999l6.196,0.396l1.401,0.452l-0.381,3.452l0.678,8.828l0.636,4.979l-1.019,0.794l-1.315-0.283l-0.976-0.113
               L28.214,585.541z" />
                      <path id="area-nine-zoom" fill="#55B6D7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M7.885,530.876
               l-0.552,1.132l0.637,1.415l-2.843,1.302l-0.17-1.076l-1.57,0.341l-1.273,1.471l-2.08,0.906l-0.552-2.15l0.17-1.812l-2.546-0.452
               l-0.552-1.358v-1.754l1.018,0.339l2.207-0.283l0.637,0.453l2.08,0.056l1.23-1.302l1.57-0.509l0.637,1.584L7.885,530.876z
                M4.744,535.687l-0.679,0.85l0.212,2.206l-1.061,1.472l-1.57-2.264l1.4-2.094l1.57-0.905L4.744,535.687z M26.262,566.301L25.88,562
               l0.849,0.282l0.935-0.735l-0.935-0.622l0.509-5.037l-1.06-8.602l-1.443-2.489l-0.764-1.981l-1.485-2.829l-0.509-1.697l-2.038-1.755
               l0.68-1.584l4.711-5.32l1.74-1.358l0.509-3.056l1.358,0.51l2.461,0.113l2.08,1.358l4.032,1.471l1.528,0.057l2.716-1.924h0.722
               l0.509,1.866l1.316,0.113l1.358,1.415l0.085,2.037l0.892,2.151l-0.339,2.433l0.467,0.962l0.934-0.452l2.334,0.566l1.91-1.415
               l0.806-0.113l2.037,1.357l2.504-0.226l0.297,2.433l-1.528,1.358l-0.042,0.962l1.443,1.301l0.296,0.849l-0.296,4.075l-0.722,2.999
               l-2.376,0.905l-2.164,4.527l0.296,0.793l-0.722,0.339l1.231,1.868l-0.636,2.716l-1.613,1.642l0.721,1.471l-0.127,1.472l-1.23,2.206
               l-0.806-0.056l-1.062,1.584l-0.552,3.961l-0.934,1.358l-3.267,0.792l-0.849,1.585l-1.698,1.472l-0.722,1.754l-3.013,2.716
               l-0.425,0.962l-2.08,1.698l-1.655-0.793l-0.594-1.528l1.316,0.283l1.018-0.792l-0.636-4.98l-0.678-8.828l0.381-3.452l-1.401-0.452
               L26.262,566.301z" />
                      <path id="area-seven-zoom" fill="#ED8080" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M64.077,675.234
               l-0.679,0.17l0.042-0.963l1.146,0.114L64.077,675.234z M64.756,677.951l-0.34-0.623l1.655-3.508l1.272-0.057l-0.042,2.377
               L64.756,677.951z M83.643,693.908l-2.037-1.358l-2.335-0.452l-3.226-1.019l-1.698-1.188l-3.056-4.415l-1.316-1.188l-3.734-0.623
               l-1.061-0.679l0.764-1.924l-0.891-0.736l2.123-2.604l1.697-1.244l-0.296-3.225l-1.783-2.038l-1.061-6.394l-2.08-1.982l-0.552-1.018
               l-1.613-0.68l-2.419-3.565l-1.316-1.358l-1.443-2.603l-0.721-2.829l-0.722-0.905l-4.753-3.225l-1.74-2.604l-3.141-1.244l0.467-1.812
               l0.722-0.622l4.329-0.679l0.127,1.188l1.316,1.075v1.527l0.891-1.018l1.104-0.169l1.57,0.734l0.127,1.244l1.23-1.019l0.425,1.188
               l-0.976,0.68h1.273l0.722-0.793l1.91,1.527l1.23-0.226l0.764,0.566l1.316-0.114l0.254,1.642l2.546-0.17l1.315-1.131l-0.934-2.717
               l1.019-1.074l1.358,0.169l0.509,0.849l1.995,0.849l1.02,1.529l2.588,1.583l1.655-1.413l1.91-2.435l0.763-0.226l1.188,1.925
               l1.528,1.019l1.74,0.453l1.443,0.849l1.994,3.282l-0.254,1.642l-0.891,0.735l-0.934,2.094l0.849,3.282l-0.849,1.811l2.758,3.622
               l2.292,1.019l1.358,0.227l0.552,0.226l0.722,1.755l-0.127,1.131l0.764,2.264l-0.255,1.924l0.34,2.266l-1.061,1.074l-0.339,1.981
               l-1.316,1.301l-0.509,2.265l-1.189,1.019l-3.268-0.339l-1.019,0.112l0.552,5.319l-1.485,3.056L83.643,693.908z M81.52,675.065
               l1.699-0.114l0.891,0.397l0.892-1.19l-0.382-3.224l0.85-1.868l-1.019-1.697l-1.273,0.34l-1.824-1.021l-0.976,0.623l-0.849,1.472
               l0.086,1.642l1.103,1.131l0.637,1.528l-0.425,1.074L81.52,675.065z M81.775,681.911l1.104-0.566l1.188-1.695l-0.721-2.265
               l-1.698,0.679L81.775,681.911z" />
                      <path id="divtotal_statesbtn" fill="#C7A27B" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M185.672,686.325
               l1.485-1.754l-0.296-1.98l0.722-1.132l0.637,0.227l1.57,4.3l0.085,2.095l-0.595,0.905l-2.249,0.056l-1.146-1.413L185.672,686.325z
                M156.812,626.794l-2.038,2.264l0.255,2.095l1.57,3.962l-0.17,1.074l-0.976-0.622l-1.146,3.111l-0.255,3.793h-0.721l-0.977,1.866
               l0.255,1.585l2.546,5.205l2.419,2.774l-0.594,1.244l1.443-0.227l-2.08,4.356l-0.212,1.813l0.678,5.263l0.467,1.696l-0.891,10.356
               l0.254,1.696l1.401,3l1.953,2.718l5.092,5.035l-1.698,1.812l0.976,1.019l-0.551,1.132l-0.255,2.207l1.272,1.075l-0.042,1.075
               l-1.019,1.131l-6.027-3.623l-0.891-1.018l-3.481-1.528l-2.376,0.34l-6.367,2.376l-7.046-2.773l-1.528-1.301l-5.984-7.301
               l-4.668-1.867l-0.722-2.433l-0.806,0.168l-8.573-5.941l-3.268-3.735l-3.565-0.622l-5.306-1.753l-2.334-0.963l-2.504,0.907
               l-0.382-1.699l-1.995-0.566l-3.226-2.489L92,665.5l-1.358-0.227l-2.292-1.02l-2.759-3.622l0.85-1.81l-0.85-3.283l0.935-2.094
               l0.891-0.735l0.255-1.641l-1.994-3.282l-1.443-0.849l-1.74-0.453l-1.528-1.02l-1.188-1.924l-1.061-0.905v-3.169l-0.891-1.698
               l-0.211-3.112l-0.595-1.075l1.062-3.339l-1.953-2.095l-0.721,0.171l-0.552-1.868l0.127-1.245l-1.867-0.734v-1.699l-0.552-0.904
               l-0.085-1.754l-0.806-1.076l0.425-1.754l-3.268-0.962l-1.019-1.075l1.867-2.717l-0.679-1.471l-0.169-1.925l0.593-1.641l2.208,0.679
               l1.273,1.075l1.147-0.731l2.25-0.227l2.165,1.527l1.146,0.17l1.74-0.509l2.844-2.32l1.825-0.793l0.296-4.074l0.509-1.019
               l1.231,0.282l0.126,1.188l2.801,2.207l0.594,2.206l1.824-2.149l0.85-3.678l1.57-0.113l2.207,1.245l2.673-1.076l0.637,1.754
               l1.528,1.132l1.357,2.094l3.523-0.792l2.546,0.736l1.231-1.699v-0.792l1.315-0.622l1.995,0.282l1.655,1.357l1.146,0.171l1.358-1.302
               l2.122,0.565v-2.037l0.721-1.698l1.909,0.51l1.273,2.207l3.184,1.584l3.31,0.227l1.146,1.188l0.381,1.527l-0.594,1.868l-0.976,0.905
               l0.296,1.584l1.57,1.755l2.589,0.623l0.722-0.906l1.825,1.415l0.679,1.867l-0.594,2.716l-1.104-0.057l-1.061,0.736l-1.146,2.038
               l-0.722,4.752l-0.594,1.02l1.528,1.245l2.292-1.019l3.097,0.849l2.08,1.075l2.589,2.207l1.019-0.17l0.552,1.075l0.976-0.17
               l1.783,2.829v0.962l1.02,1.696l1.485-1.583l0.212-1.245l-0.85-2.376l0.042-1.584l-0.722-0.68l0.042-1.867l0.721-1.754l-0.169-1.867
               l1.06,0.622l3.099,0.113L156.812,626.794z" />
                      <path id="area-ten-zoom" fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M19.937,536.535
               l-1.018-1.245l-1.528-3.904l-0.425-2.66l0.722-1.584l0.085-2.547l0.935-1.132l-0.467-2.32l0.509-3.226l0.891-0.565l1.019,0.849
               l1.316-0.452l1.57,0.509l1.528,4.811l1.316,1.527l1.188,0.622l-0.509,3.056l-1.74,1.358l-4.711,5.319L19.937,536.535z" />
                      <path id="area-two-zoom" fill="#FF0066" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M165.088,690.853
               l1.909,0.341l1.698,0.848l1.698-0.282l0.085,1.075l1.952,1.812l1.104,2.433l-0.381,1.811l0.296,0.792l3.14,4.018l1.57,1.303
               l0.297,1.753l1.188,1.924l-0.637,1.755l0.297,0.848l1.995,2.491l1.104,2.658l3.056,5.038l-0.085,2.717l0.679,1.81l1.358,0.056
               l1.188,2.038l0.382,1.98l1.019,1.811l0.042,1.415l1.103,1.697l0.34,2.829l0.891,2.32l0.424,3l-0.637,0.904l-0.084,2.49h-1.614
               l-0.85,0.906l-2.758-0.227l-2.038-1.019l-0.255-1.811l-1.528-1.302l-0.212-1.528l2.716-1.414l1.019-1.188h-1.528l-2.461,1.697
               l-1.74-3.904l-1.953-2.207l0.17,1.698l1.613,2.603l-0.212,1.754l0.255,2.489l-1.485,1.245l-2.038-0.508l-3.693-1.926l-1.061,0.056
               l-2.588,1.132l-1.74-0.113l-1.316,0.396l-2.165,2.773l-1.273,1.019l-1.528-0.284l-0.721-0.961l0.17,1.697l-1.485,3.056l-2.037-2.094
               l-0.934-1.642l-1.401-4.697l-0.763-1.641l-1.189-1.357l-1.782-1.133l-5.051-1.924l-7.173-4.527l-1.739-0.85l-2.632-0.566
               l-3.013-3.395l-2.504-1.414l-3.48,0.565l-0.976-0.509l-2.08-3.452l-3.438-2.829l-0.51-1.697l-2.886-2.037l0.721-1.188l1.061-0.113
               l0.212-2.037l-2.037-0.793l-0.255-0.96l0.849-0.906l0.042-1.642l0.807-2.264l-0.085-1.075l1.485-2.037l1.909-1.019l0.892-2.717
               l0.085-3.622l0.849-1.641l-0.34-1.076l2.801-7.47l0.212-1.302l4.668,1.867l5.984,7.301l1.528,1.301l7.046,2.774l6.367-2.377
               l2.376-0.34l3.48,1.528l0.891,1.019l6.027,3.622l1.018-1.131l0.042-1.075l-1.272-1.075l0.255-2.207l0.551-1.132l-0.976-1.019
               L165.088,690.853z" />
                      <path id="area-six-zoom" fill="#71C2B2" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M46.421,640.376
               l-0.255-0.51l-2.122,0.622l-2.717-1.244l-0.806-2.095v-2.148l0.764-0.962h3.522l0.679-0.906l2.292-0.283l-0.425-0.962l-2.461,0.905
               l-1.103-0.057l-0.042-2.828l-0.424-0.566l-3.735-2.829l-1.91,0.396l-0.849-2.265l-0.891-3.903l-1.061-0.849l0.976-3.961l0.807-0.623
               l1.104-4.584l-0.086-0.906l-1.4-0.735l-0.255-0.848l0.551-1.642h1.189l1.442-1.697l-2.631,0.169l-0.381-3.282l1.613-0.679
               l-0.849-0.565l0.212-0.905l-1.74-0.283l0.085-2.376l-1.146-0.962l-2.376,0.17l0.849-1.302l-1.357-0.962l-1.189,0.679l-1.145-2.376
               l-1.062-1.189l-1.231-2.999l-0.254-1.302l1.613-1.188l3.269-0.736l0.976,0.113l0.594,1.527l1.655,0.793l2.08-1.697l0.425-0.962
               l3.013-2.717l0.722-1.754l1.698-1.472l0.849-1.584l3.267-0.793l0.934-1.358l0.552-3.961l1.062-1.583l0.806,0.056l1.23-2.207
               l0.127-1.471l-0.721-1.472l1.613-1.641l0.636-2.717l-1.231-1.867l0.722-0.34l0.807,1.585l1.953,0.564l1.74,1.585l1.103,2.15
               l1.91-0.057L62,562.342l1.188-1.415l1.02-3.734l2.971-0.962l3.14-1.754l6.026-2.264l1.868-0.057l1.104,1.755l1.231,0.452
               l-0.17,1.188l1.485,2.659h1.316l-0.127,3.056l-1.145,1.076v2.433l0.807,1.867l-0.722,2.15l3.013,0.396l0.467,1.02l-0.255,5.318
               l-3.141,1.132l-2.249-1.076l-1.655,1.358l-1.274,2.264h-0.806l-0.722,2.603l-0.806,1.245l-0.255,2.547l-0.934,2.716l-0.552,2.886
               l-0.933,0.85l0.891,1.472l0.297,1.697l-0.51,1.754l-1.74,1.188l0.297,1.811l-1.315,1.472l-0.086,2.094l-1.273,0.226l-0.509,0.792
               l1.485,2.942l-0.594,1.642l0.17,1.924l0.679,1.472l-1.867,2.716l1.018,1.076l3.268,0.961l-0.424,1.755l0.806,1.075l0.086,1.754
               l0.552,0.905v1.698l1.867,0.734l-0.127,1.246l0.552,1.867l0.721-0.17l1.953,2.094l-1.062,3.339l0.595,1.076l0.211,3.112l0.891,1.697
               v3.169l1.061,0.905l-0.764,0.226l-1.91,2.435l-1.655,1.413l-2.588-1.583l-1.019-1.529l-1.995-0.849l-0.509-0.849l-1.358-0.169
               l-1.019,1.074l0.934,2.717l-1.315,1.131l-2.546,0.17l-0.255-1.642l-1.315,0.114l-0.764-0.566l-1.23,0.226l-1.91-1.527l-0.722,0.793
               h-1.273l0.976-0.68l-0.424-1.188l-1.231,1.019l-0.127-1.244l-1.57-0.734l-1.103,0.169l-0.893,1.017v-1.527l-1.316-1.075
               l-0.127-1.188L46.421,640.376z" />
                      <path id="area-seven-zoom_1_" fill="#BCD26D" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M69.425,607.497
               l-1.486-2.942l0.509-0.792l1.273-0.226l0.085-2.094l1.316-1.472l-0.297-1.811l1.74-1.188l0.509-1.754l-0.297-1.697l-0.891-1.472
               l0.934-0.85l0.552-2.886l0.935-2.716l0.254-2.547l0.806-1.245l0.722-2.603h0.806l1.274-2.264l1.655-1.358l2.249,1.076l3.141-1.132
               l0.254-5.318l-0.467-1.02l-3.014-0.396l0.722-2.15l-0.807-1.867v-2.433l1.145-1.076l0.127-3.056l1.825-0.679l0.934,1.415
               l1.613,0.396l1.061-1.642l1.231-0.793l0.637-1.131l1.868-1.472l0.296-3.452l0.638-1.754l1.061-1.301l3.14-2.434l1.103-1.131
               l0.51-1.358l-0.171-3.338l0.256-2.264l3.818,2.603l0.977-0.282l-0.339-1.246h0.89l4.881,1.868l2.716,2.434l5.008,10.129l1.783,1.868
               l-1.655,1.98l-3.226,3.056l-1.74,2.151l0.806,3.281l-0.042,2.999l-0.51,0.962l0.297,2.49l-0.17,1.528l1.868,2.263l-0.763,2.32
               l-0.34,5.772l1.783,0.679l3.013,2.489l-1.104,1.528l0.51,2.094l-0.594,0.679l0.552,2.716l-0.127,1.131l0.679,0.623l2.037,0.227
               l2.802,2.037l1.018,2.83l-0.255,0.565l-1.909-0.509l-0.721,1.697v2.038l-2.122-0.566l-1.358,1.302l-1.146-0.171l-1.655-1.356
               l-1.995-0.283l-1.315,0.623v0.791l-1.231,1.699l-2.546-0.736l-3.523,0.792l-1.357-2.094l-1.528-1.131l-0.637-1.755l-2.673,1.076
               l-2.207-1.245l-1.57,0.113l-0.85,3.678l-1.824,2.15l-0.594-2.207l-2.801-2.206l-0.126-1.189l-1.231-0.282l-0.509,1.019l-0.296,4.075
               l-1.825,0.792l-2.844,2.321l-1.74,0.509l-1.146-0.17l-2.165-1.528l-2.25,0.223l-1.145,0.735l-1.273-1.076L69.425,607.497z" />
                      <path id="area-five-zoom" fill="#FAE273" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M120.906,701.436
               l-1.909,1.019l-1.485,2.037l0.085,1.075l-0.807,2.264l-0.042,1.642l-0.849,0.905l0.255,0.96l2.037,0.794l-0.212,2.037l-1.061,0.112
               l-0.721,1.189l-12.774-5.263l-2.59-1.812l-3.182-3.564l-1.401-0.396l-1.359-1.133l0.085-0.622l1.358-0.735l1.103-1.246l0.594,0.454
               l0.594-1.359l1.401,0.114l1.783-0.454l1.443-1.073l1.825,0.848l2.08,0.397l2.885-1.02l1.699-0.056l3.098,1.414L120.906,701.436z" />
                      <path id="area-four-zoom" fill="#F4A7DE" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M125.405,683.61
               l-0.212,1.301l-2.801,7.47l0.34,1.076l-0.848,1.641l-0.085,3.622l-0.892,2.718l-6.069-1.473l-3.097-1.414l-1.699,0.056l-2.885,1.02
               l-2.08-0.397l-1.825-0.848l-1.443,1.073l-1.783,0.454l-1.4-0.114l-0.594,1.359l-0.594-0.454l-1.104,1.246l-1.358,0.735l-2.631-1.301
               l-2.08,0.566l-0.552,0.565l-0.595-3.622l-1.995-1.642l-0.848-2.489l-0.934-0.679l-1.698-0.17l0.722-3.056l1.485-3.057l-0.552-5.318
               l1.019-0.113l3.267,0.34l1.189-1.02l0.51-2.264l1.315-1.302l0.34-1.98l1.061-1.075l-0.34-2.265l0.255-1.925l-0.764-2.264
               l0.127-1.131l-0.722-1.754l-0.552-0.227l0.722-1.019l3.226,2.489l1.995,0.566l0.382,1.698l2.504-0.906l2.334,0.963l5.306,1.753
               l3.565,0.622l3.268,3.735l8.573,5.941l0.806-0.169L125.405,683.61z" />
                      <path id="area-eight-zoom" fill="#55B6D7" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M123.75,601.047
               l0.255-0.566l-1.019-2.829l-2.802-2.038l-2.037-0.227l-0.679-0.622l0.127-1.131l-0.552-2.717l0.594-0.679l-0.51-2.094l1.104-1.527
               l-3.014-2.49l-1.783-0.679l0.34-5.771l0.764-2.321l-1.868-2.263l0.17-1.528l-0.297-2.49l0.509-0.962l0.042-2.999l-0.806-3.281
               l1.74-2.15l3.226-3.057l1.655-1.98l2.589,1.642l1.783,1.867l0.976,2.037l1.146,0.565l7.555,6.056l1.825,0.905l1.74,0.339
               l2.843,2.434l3.904,4.471l4.329,6.848l1.443,3.678l4.202,7.073l2.462,4.528l1.4,2.942l-0.297,1.302l0.467,2.773l0.679,6.451
               l-0.764,2.603l0.424,2.547l1.358,3.961l0.127,1.301l-0.679,1.925l-1.231,1.527l0.127,1.811l-0.509,0.566l-1.02-0.339l-3.098-0.113
               l-1.06-0.623l0.17,1.867l-0.721,1.755l-0.042,1.866l0.722,0.68l-0.042,1.584l0.849,2.376l-0.212,1.245l-1.486,1.584l-1.019-1.697
               v-0.962l-1.783-2.829l-0.976,0.17l-0.552-1.075l-1.019,0.17l-2.589-2.206l-2.08-1.076l-3.097-0.849l-2.292,1.019l-1.528-1.245
               l0.593-1.019l0.722-4.753l1.146-2.038l1.061-0.735l1.104,0.057l0.594-2.717l-0.679-1.867l-1.825-1.415l-0.722,0.906l-2.589-0.623
               l-1.57-1.754l-0.296-1.585l0.976-0.905l0.594-1.867l-0.381-1.528l-1.146-1.188l-3.31-0.227l-3.184-1.585L123.75,601.047z" />
                      <path fill="#F5FC98" stroke="#000000" stroke-width="0.3636" stroke-miterlimit="10" d="M-37.798,457.651" />
                      <path fill="none" d="M552.125,691.187h8.153v8.153h-8.153V691.187z" />
                      <path fill="none" d="M-33.667,467.648" />
                      <text transform="matrix(1 0 0 1 470.5977 585.8105)" font-family="'Tahoma'" font-size="4.9959">Sabah</text>
                      <text transform="matrix(1 0 0 1 335.7646 679.8711)" font-family="'Tahoma'" font-size="4.9959">Sarawak</text>
                      <text transform="matrix(1 0 0 1 384.7148 577.9453)" font-family="'Tahoma'" font-size="4.9959">Labuan</text>
                      <text transform="matrix(1 0 0 1 -8.8477 585.542)" font-family="'Tahoma'" font-size="4.9959">Pulau Pinang</text>
                      <text transform="matrix(1 0 0 1 25.7524 549.1641)" font-family="'Tahoma'" font-size="4.9959">Kedah</text>
                      <text transform="matrix(1 0 0 1 31.6543 660.2656)" font-family="'Tahoma'" font-size="4.9959">Selangor</text>
                      <text transform="matrix(1 0 0 1 109.3853 650.4219)" font-family="'Tahoma'" font-size="4.9959">Pahang</text>
                      <text transform="matrix(1 0 0 1 26.6016 673.7637)" font-family="'Tahoma'" font-size="4.9959">Kuala Lumpur</text>
                      <text transform="matrix(1 0 0 1 11.6543 514.6211)" font-family="'Tahoma'" font-size="4.9959">Perlis</text>
                      <text transform="matrix(1 0 0 1 142.2988 724.793)" font-family="'Tahoma'" font-size="4.9959">Johor</text>
                      <text transform="matrix(1 0 0 1 38.8467 594.8223)" font-family="'Tahoma'" font-size="4.9959">Perak</text>
                      <text transform="matrix(1 0 0 1 79.5264 594.8223)" font-family="'Tahoma'" font-size="4.9959">Kelantan</text>
                      <text transform="matrix(0.6473 -0.7622 0.7622 0.6473 99.1406 726.7529)" font-family="'Tahoma'" font-size="4.9958">Melaka</text>
                      <text transform="matrix(0.7276 -0.686 0.686 0.7276 64.1689 730.916)" font-family="'Tahoma'" font-size="4.9959">Negeri Sembilan</text>
                      <text transform="matrix(0.4765 0.8792 -0.8792 0.4765 127.4526 581.0391)" font-family="'Tahoma'" font-size="4.996">Terengganu</text>
                    </svg>
                    <div id = "data_box">
                    	<%= render 'data_box_d2'%>
                    </div>
                  </div>
                  <div class="map-link">
                    <!-- <div id="common-info" class="text-info area-info-active"><h2>Common Info</h2><table><tbody><tr><td>Prison Population</td><td>2,228K</td></tr><tr><td>Death Sentences</td><td>77</td></tr><tr><td>No. of Firearms</td><td>89 avg per 100 people</td></tr><tr><td>Homicide Count</td><td>4.8 per 100K people</td></tr></tbody></table></div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
         <%=render 'state_pahang'%>
         <%=render 'state_kelantan'%>
         <%=render 'state_perlis'%>
         <%=render 'state_perak'%>
         <%=render 'state_sabah'%>
         <%=render 'state_negeri'%>
         <%=render 'state_putrajaya'%>
         <%=render 'state_labuan'%>
         <%=render 'state_kedash'%>
         <%=render 'state_kuala_lampur'%>

      </div>
    </div>
  </body>
</html>
<style>
  .card-body>.div_statesvg>ul>li>div:first-child {
    width: 82%;
    float: left;
    margin-right: 5px;
  }
</style>

<script>
	function towns_collect(){
		const stateSelect = $('#state-select');
		const townsList = $('#towns-list');
		const selectedStateId = stateSelect.val();
	    id = JSON.stringify({id: selectedStateId})	
	 	$.ajax({
		  url: 'towns.js',
		  type: "GET",
		  data: id
		})
	}

	function filter_geo(){
		const selectedState = $('#state-select').val();

		// Collect data from the date range input
		const dateRange = $('input[name="daterange"]').val();

		// Collect data from the district dropdown
		const selectedDistrict = $('#district-select').val();

		// Create a JSON object
		const formData = {
		  state: selectedState,
		  dateRange: dateRange,
		  district: selectedDistrict
		};
	    
	    data = JSON.stringify(formData)

	    $.ajax({
		  url: 'index.js',
		  type: "GET",
		  data: data
		})
	}	


  function dist_data(stateId,districtId){

    // Create a JSON object
    const formData = {
      state: stateId,
      district: districtId
    };
      
      data = JSON.stringify(formData)

      $.ajax({
      url: 'index.js',
      type: "GET",
      data: data
    })
  } 
</script>
