<div id="sidebar">
  <div class="filter_row">
    <div class="filter_div">
      <div class="filter">
        <div class="filter-title"> Filter By </div>
        <div class="filter-body">
          <div id="main">
            <div class="filtereaccordion" id="filter">
              <div class="card">
                <div class="card-header" id="faqhead1">
                  <a href="#" class="filter-link" data-toggle="collapse" data-target="#time-period" aria-expanded="true" aria-controls="time-period"> Time Period</a>
                </div>
                <div id="time-period" class="collapse show" aria-labelledby="faqhead1" data-parent="#filter">
                  <div class="card-body">
                    <script>
                      $(document).ready(function() {
                        $('#date-range').daterangepicker({
                          opens: 'left',
                          drops: 'down',
                          autoApply: true,
                          locale: {
                            format: 'YYYY-MM-DD',
                            separator: ' - ',
                            applyLabel: 'Apply',
                            cancelLabel: 'Cancel',
                            fromLabel: 'From',
                            toLabel: 'To',
                            customRangeLabel: 'Custom',
                            daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
                            monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                            firstDay: 0
                          }
                        });
                      });
                    </script>
                    <div class="input-group date-range">
                      <input type="text" class="form-control date-range" id="date-range" placeholder="Select Date Range">
                      <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter2">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Sector" aria-expanded="true" aria-controls="Sector">Sector</a>
                </div>
                <div id="Sector" class="collapse" aria-labelledby="filter2" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox" name="addcheck" value=""> Select All
                      </li>
                      <%@job_type.each do |job_type|%>
                        <li>
                          <input type="checkbox" name=<%= "#{job_type}"%> value=<%="#{job_type}"%>> <%= job_type.camelcase%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter3">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#State" aria-expanded="true" aria-controls="State">State</a>
                </div>
                <div id="State" class="collapse" aria-labelledby="filter3" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox" name="all_selected" value = ""> Select All
                      </li>
                      <%@states.each do |state| %>
                        <li>
                          <input type="checkbox" name=<%="#{state}"%> value=<%="#{state}"%>><%= state.camelcase%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter4">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Country" aria-expanded="true" aria-controls="Country">Country</a>
                </div>
                <div id="Country" class="collapse" aria-labelledby="filter4" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox"  name="all_selected" value = ""> Select All
                      </li><% @countries.each do |country|%> <li>
                        <input type="checkbox" name=<%="#{country}"%> value=<%="#{country}"%> ><%= country.camelcase%>
                      </li><%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter5">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#age" aria-expanded="true" aria-controls="age">Age</a>
                </div>
                <div id="age" class="collapse" aria-labelledby="filter5" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox" name="all_selected" value = ""> Select All
                      </li>
                      <li>
                        <input type="checkbox" name="age_range1" value="18-29"> 18 to 29
                      </li>
                      <li>
                        <input type="checkbox" name="age_range2" value="30-45"> 30 to 45
                      </li>
                      <li>
                        <input type="checkbox" name="age_range3" value="50-120"> 50 to >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter5">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Gender" aria-expanded="true" aria-controls="Gender">Gender</a>
                </div>
                <div id="Gender" class="collapse" aria-labelledby="filter5" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox" name="all_selected" value = ""> Select All
                      </li>
                      <li>
                        <input type="checkbox" name="gender" value="male"> Men
                      </li>
                      <li>
                        <input type="checkbox" name="gender" value="female"> Female
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter6">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#Registration" aria-expanded="true" aria-controls="Registration">Registration at</a>
                </div>
                <div id="Registration" class="collapse" aria-labelledby="filter6" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <%@organizations.each do |org|%>
                        <li>
                          <input type="checkbox" name=<%="#{org}"%> value = <%="#{org}"%>> <%="#{org.upcase}"%>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="filter7">
                  <a href="#" class="filter-link collapsed" data-toggle="collapse" data-target="#ForeginWorker" aria-expanded="true" aria-controls="ForeginWorker">Foregin Worker Type</a>
                </div>
                <div id="ForeginWorker" class="collapse" aria-labelledby="filter7" data-parent="#filter">
                  <div class="card-body">
                    <ul class="subment-li">
                      <li>
                        <input type="checkbox" name="all_selected" value = "">Select All
                      </li>
                      <%@foregin_worker_type.each do |fw_type|%>
                      <li>
                        <input type="checkbox" name=<%="#{fw_type}"%> value=<%="#{fw_type}"%>><%="#{fw_type.upcase}"%>
                      </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="filter-btn">
                <button id="applyFilter" class="btn-apply" data-toggle="collapse" data-target="#tag_demo" onclick="apply_filter()"> Apply</button>
                <button class="btn-clear" onclick="clear_filter()" id="sidebarCollapse">Clear</button>
              </div>
            </div>
          </div>
          <div id="result"></div>
          <script>
            function getValues() {
              var ele = [];
              var cb = document.getElementsByName("addcheck");
              var total = 0;
              for (var i = 0; i < cb.length; i++) {
                if (cb[i].checked) {
                  ele.push(cb[i].value);
                }
              }
              if (ele.length > 0) {
                document.getElementById("result").innerHTML = "You selected " + ele;
              } else {
                document.getElementById("result").innerHTML = "You have not selected anything";
              }
            }
          </script>
          <!-- <ul class="list"><li>
                     Time Period</li><li>Sector</li><li>State</li><li>Country</li><li>Age</li><li>Gender</li><li>Registration at</li><li>Foregin Worker Type</li></ul> -->
        </div>
      </div>
      <div class="filter d-none">
        <div class="filter-title" onclick=""> Export <i class="fa fa-exclamation-circle"></i>
        </div>
        <div class="filter-body">
          <ul class="subment-li">
            <li>
              <i class="fa fa-file-excel-o"></i> Excel File
            </li>
            <li>
              <i class="fa fa-file-pdf-o"></i> Pdf File
            </li>
          </ul>
        </div>
      </div>
      <div class="filter d-none">
        <div class="filter-title"> Refresh <i class="fa fa-repeat"></i>
        </div>
        <div class="filter-body">
          <ul class="subment-li">
            <li>
              <select class="form-control" aria-label="Filter select">
                <option> 5 min </option>
                <option value="January">15 min</option>
                <option value="February">30 min</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  // app/assets/javascripts/filter.js
  function apply_filter() {
    var selectedValues = JSON.stringify(getCheckedValues());
    $.ajax({
      type: 'GET',
      url: '/first_dashboard/index.js', // Replace with your Rails route
      data: selectedValues
    });
  }
  function clear_filter() {
    var selectedValues = JSON.stringify({value: false});
    clearAllInputs();
    $.ajax({
      type: 'GET',
      url: '/first_dashboard/index.js', // Replace with your Rails route
      data: selectedValues
    });
  }

  function clearAllInputs() {
  // Clear checkboxes
  $('input[type="checkbox"]').prop('checked', false);
  
  // Clear input fields
  $('input[type="text"]').val('');
  
  // Clear date range picker (if you're using a library like 'daterangepicker')
  $('#date-range').val('');
  }

  // Call the clearAllInputs function when needed, e.g., when the "Clear" button is clicked
  $('#clearButton').on('click', function() {
    clearAllInputs();
  });

  
  function getCheckedValues() {
  var checkedValues = {};
  
  checkedValues['DateRange'] = $('#date-range').val();
  
  // Retrieve values from Sector
  checkedValues['Sector'] = $('#Sector input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from Country
  checkedValues['Country'] = $('#Country input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from State
  checkedValues['State'] = $('#State input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from Gender
  checkedValues['Gender'] = $('#Gender input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from age
  checkedValues['age'] = $('#age input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from ForeginWorker
  checkedValues['ForeginWorker'] = $('#ForeginWorker input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Retrieve values from Registration
  checkedValues['Registration'] = $('#Registration input[type="checkbox"]:checked').map(function() {
    return $(this).val();
  }).get().join(' ');

  // Add even more divs as needed

  return checkedValues;
}

</script>
